body {
    font-family: 'Comic Sans MS', sans-serif;
    background: rgb(0,255,63);
    background: linear-gradient(0deg, rgba(0,255,63,1) 13%, rgba(5,170,51,1) 100%);
    text-align: center;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Encabezado */
header {
  background-color: #4caf50; /* Verde oscuro original */
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}


header .logo {
  width: 500px;
  height: auto;
  transition: transform 0.6s ease-in-out; 
}

header .logo:hover {
  transform: rotate(180deg); 
}

/* Navegación */
nav {
  background-color: #90ee90; 
  text-align: center;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

nav a {
  margin: 0 20px;
  color: #000; 
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
  font-weight: 600;
}

nav a:hover {
  color: #fff; 
  transform: translateY(-5px);
}

h1 {
  font-family: 'Kalam', cursive;
  font-size: 3.5em;
  font-weight: 1000;
  color: #2c221b;
  text-shadow: 2px 2px 0px #696969;
  margin: 20px 0;
  animation: titlePulse 2s infinite;
  transition: transform 0.3s ease-in-out;
}

h1:hover {
  transform: scale(1.1);
}

h2 {
    margin-bottom: 2rem;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

canvas {
    width: 100%; /* Ajusta el ancho del gráfico al 100% del contenedor */
    height: 400px; /* Ajusta la altura según sea necesario */
    display: block;
    margin: 0 auto;
}